h1,.introduction
{
	color : blue ; /* les titres de niveau 1 et les paragraphes de type introduction seront en bleu */
}
em
{
	color : red ;
}
.imageflottante
 {
     float : left ;
}
div
{
	width : 250;
	text-align : justify;
}